<!-- contact.hbs -->
<form id="full-signup-form" class="signup-form">
  <input type="text" name="first" placeholder="First Name">
  <input type="text" name="last" placeholder="Last Name">
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="zip" placeholder="Zip Code">
  <input type="text" name="message" placeholder="Message">
  <button type="submit">Sign Up</button>
</form>
