<!-- email.hbs -->
<form id="email-only-form" class="signup-form {{#if layout}} {{layout}} {{/if}}" data-form-type="email-only">
  <input type="email" name="email" placeholder="Email" required>
  <button type="submit">Sign Up</button>
</form>
