<!-- email-zip.hbs -->
<center>
  <form id="email-zip-form" class="signup-form sidebyside">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="zip" placeholder="Zip Code">
    <button type="submit">Sign Up</button>
  </form>
</center>
