<!-- email-first-last-zip.hbs -->
<form id="email-first-last-zip" class="signup-form" data-form-type="email-first-last-zip">
  <input type="text" name="first" placeholder="First Name">
  <input type="text" name="last" placeholder="Last Name">
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="zip" placeholder="Zip Code">
  <button type="submit">Sign Up</button>
</form>
